[Container]
ContainerName=forgejo-postgres
Environment=USER_UID=1000
Environment=USER_GID=1000
Image=docker.io/library/postgres
Network=forgejo.network
PublishPort=5432:5432
Volume=forgejo-postgres-data:/var/lib/postgresql/data
Environment=POSTGRES_USER=forgejo
Environment=POSTGRES_PASSWORD=forgejo
Environment=POSTGRES_db=forgejo

[Service]
Restart=always

[Install]
WantedBy=default.target